@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

@font-face {
  font-family: 'Blue Waffle';
  src: url('../src/assets/fonts/BlueWaffle.woff2') format('woff2'),
      url('../src/assets/fonts/BlueWaffle.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rounded Mplus';
  src: url('../src/assets/fonts/Rounded-Mplus-1c-Light.ttf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Myriad Roman';
  src: url('../src/assets/fonts/Myriad-Roman.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Ace Sans";
  src: url('../src/assets/fonts/AceSans-Demo.woff') format('woff'), url('../src/assets/fonts/AceSans-Demo.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Freescript';
  src: url('../src/assets/fonts/Freescript.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Acto Black';
  src: url('../src/assets/fonts/Acto-Black.woff') format('woff'),
  url('../src/assets/fonts/Acto-Black.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Golden Plains';
  src: url('../src/assets/fonts/Golden\ Plains\ -\ Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



.shirt-configurator{
  max-width: 500px;
  position:relative;
}
.shirt-configurator img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -99;
}
canvas{ 
  border: 1px solid black; 
}

input[type=range] {
  width: 100%; /* Specific width is required for Firefox. */
}