
.shirt-configurator{
  max-width: 500px;
  position:relative;
}
.shirt-configurator img{
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -99;
}
canvas{ 
  border: 1px solid black; 
}
